Source: adoptium-ca-certificates
Section: java
Priority: optional
Maintainer: Andreas Ahlenstorf <andreas.ahlenstorf@adoptopenjdk.net>
Build-Depends: debhelper (>= 11), lsb-release

Package: adoptium-ca-certificates
Architecture: all
Depends: ca-certificates, p11-kit
Description: CA certificates for OpenJDK, Adoptium and compatible runtimes
 Provides a Java keystore with CA certificates for OpenJDK, Eclipse Adoptium
 and compatible runtimes. The keystore is automatically synchronized with the
 operating system's certificate store.
