#!/usr/bin/make -f

d = debian/adoptium-11-hotspot
jhome = usr/lib/jvm
jdirname = adoptium-11-hotspot-$(DEB_HOST_ARCH)

%:
	dh $@

override_dh_auto_clean:
override_dh_auto_test:
override_dh_auto_build:
override_dh_auto_install:
	dh_installdirs \
		$(jhome) \
		$(jhome)/$(jdirname)
	tar --strip-components=1 -C "$(d)/usr/lib/jvm/$(jdirname)" -xf "@tarball@" || true
	rm -f $(jhome)/$(jdirname)/lib/libfreetype.so

override_dh_gencontrol:
	dh_gencontrol --
